# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake
*.cmake
*Makefile*

# swp files
*.swp
*.swo
*.swm

# vim config files
*.vimrc

tags
*/tags
*/cscope.out

*.swn
*.dot
*.ps

# LLVM files
*.bc
*.ll
*.sliced

*.i

tests/*-test

# C files in tools are test codes
tools/*.c
tools/*.bc

tools/llvm-dg-dump
tools/llvm-to-source
tools/llvm-slicer

git-version.h
